*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.banner{
    background:linear-gradient(90deg,#2196F3,#673AB7);
    color:white;
    text-align:center;
    padding:70px;
}

main{
    width:90%;
    max-width:1100px;
    margin:40px auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
}

.card h2{
    padding:15px;
}

.card p{
    padding:0 15px 20px;
}

button{
    margin:15px;
    padding:12px 18px;
    border:none;
    background:#2196F3;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#1565C0;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}